.version.index /* version checker */
{
	color: #000015;
	background-color: #1BC301;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	min-height: 438px;
	padding-bottom: 62px;
	margin-right: auto;
	background-image: none;
	z-index: 1;
	background-color: transparent;
	width: 100%;
	border-color: #000000;
	margin-left: auto;
	border-width: 0px;
}

#u151
{
	background-color: #29ABE2;
	z-index: 2;
}

#u151_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u273-4
{
	display: block;
	z-index: 4;
	position: relative;
	vertical-align: top;
}

#u2078
{
	border-radius: 34px;
	padding-top: 9px;
	z-index: 3;
	position: relative;
	background-color: #00519F;
	width: 81.57%;
}

#u2179
{
	background-color: transparent;
	z-index: 30;
	position: relative;
}

#u2179_img
{
	width: 100%;
}

#u295-4
{
	display: block;
	z-index: 8;
	position: relative;
	vertical-align: top;
}

#u305-4
{
	display: block;
	z-index: 18;
	position: relative;
	vertical-align: top;
}

#u301
{
	position: relative;
	background-color: #FFFFFF;
	width: 43.68%;
	z-index: 16;
	height: 2px;
}

#u310-4
{
	display: block;
	z-index: 12;
	position: relative;
	vertical-align: top;
}

#u340-4
{
	display: block;
	position: relative;
	z-index: 26;
	vertical-align: top;
}

#u346
{
	position: relative;
	background-color: #FFFFFF;
	width: 43.68%;
	z-index: 17;
	height: 2px;
}

#u2264
{
	z-index: 34;
	position: relative;
	background-color: transparent;
}

#u2262
{
	width: 100%;
	display: block;
	z-index: 35;
}

#u2251
{
	z-index: 32;
	position: relative;
	background-color: transparent;
}

#u2249
{
	width: 100%;
	display: block;
	z-index: 33;
}

#u2288
{
	z-index: 38;
	position: relative;
	background-color: transparent;
}

#u2286
{
	display: block;
	z-index: 39;
}

#u2276
{
	z-index: 36;
	position: relative;
	background-color: transparent;
}

#u2274
{
	width: 100%;
	display: block;
	z-index: 37;
}

#pu819-4
{
	width: 100%;
	position: relative;
}

#u819-4
{
	display: block;
	z-index: 22;
	position: relative;
	margin-right: -10000px;
	vertical-align: top;
}

#u2446
{
	z-index: 40;
	position: relative;
	background-color: transparent;
	margin-right: -10000px;
}

#u2442
{
	width: 100%;
	display: block;
	z-index: 41;
}

#u151-bw
{
	z-index: 2;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 321px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 960px;
	}

	#u151_align_to_page
	{
		max-width: 960px;
		padding-top: 180px;
		padding-bottom: 23px;
	}

	#u273-4
	{
		width: 32.4%;
		left: 13.13%;
	}

	#u2078
	{
		padding-bottom: 54.08499999999995px;
		margin-top: 27px;
		left: 11.98%;
	}

	#u2179
	{
		width: 39.34%;
		margin-left: 56.71%;
	}

	#u295-4
	{
		margin-top: 17px;
		width: 29%;
		margin-left: 5.11%;
	}

	#u305-4
	{
		margin-top: 5px;
		width: 19.8%;
		margin-left: 5.11%;
	}

	#u310-4
	{
		margin-top: 13px;
		width: 29%;
		margin-left: 5.11%;
	}

	#u340-4
	{
		top: -2px;
		margin-bottom: -2px;
		width: 19.8%;
		margin-left: 5.11%;
	}

	#u301,#u346
	{
		top: -2px;
		margin-bottom: -2px;
		margin-left: 5.11%;
	}

	#pu2251
	{
		margin-top: 5px;
		width: 1.03%;
		margin-left: 46.49%;
	}

	#u2251,#u2264,#u2276,#u2288
	{
		margin-right: -10000px;
		width: 100%;
	}

	#u2286
	{
		margin-bottom: -2325%;
		width: 2500%;
	}

	#pu819-4
	{
		margin-top: 74px;
	}

	#u819-4
	{
		margin-top: 7px;
		width: 16.15%;
		left: 73.23%;
	}

	#u2446
	{
		width: 4.07%;
		left: 80.32%;
	}

	#u151,#u151-bw
	{
		min-height: 660px;
	}
}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		max-width: 320px;
	}

	#u151
	{
		min-height: 575.6px;
		padding-bottom: 0px;
	}

	#u151_align_to_page
	{
		max-width: 320px;
		padding-top: 160px;
		padding-bottom: 85px;
	}

	#u273-4
	{
		width: 39.07%;
		left: 16.25%;
	}

	#u2078
	{
		padding-bottom: 40px;
		margin-top: 45px;
		left: 11.88%;
	}

	#u2179
	{
		width: 49.05%;
		margin-left: 47.13%;
	}

	#u295-4
	{
		top: -8px;
		margin-bottom: -8px;
		width: 35.25%;
		margin-left: 5.75%;
	}

	#u305-4
	{
		margin-top: 2px;
		width: 19.93%;
		margin-left: 5.75%;
	}

	#u301
	{
		margin-top: 2px;
		margin-left: 5.75%;
	}

	#u310-4
	{
		margin-top: 18px;
		width: 53.26%;
		margin-left: 5.75%;
	}

	#u340-4
	{
		top: -4px;
		margin-bottom: -4px;
		width: 19.93%;
		margin-left: 5.75%;
	}

	#u346
	{
		margin-left: 5.75%;
	}

	#u2264
	{
		margin-top: 34px;
		width: 0.94%;
		left: 50%;
	}

	#u2286
	{
		margin-bottom: -2066.666666666667%;
		width: 2233.34%;
	}

	#u2251,#u2288,#u2276
	{
		top: -5px;
		margin-bottom: -5px;
		width: 0.94%;
		left: 50%;
	}

	#pu819-4
	{
		top: -1px;
		margin-bottom: -1px;
	}

	#u819-4
	{
		width: 20.94%;
		left: 61.88%;
	}

	#u2446
	{
		width: 9.07%;
		left: 82.82%;
	}

	#u151-bw
	{
		min-height: 575.6px;
	}

	body
	{
		min-width: 320px;
	}
}

